body {
	background-color: #dbdbdb;
}

@media (min-width: 675px) {
	body {
		background-color: yellow;
	}
}

@media (min-width: 675px) {
	body {
		background-color: blue;
	}
}

@media (min-width: 675px) {
	body {
		background-color: red;
	}
}